---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title='Home' description=''>
	<h3>Home Page - index</h3>
	<a href="#">Anchor Link</a>
</MainLayout>

<style lang="scss" is:global>
	// @import '../styles/styles.scss';
	@use '../styles/styles.scss';
	
</style>
