---
const { 
    href,
    class:className,
    ...rest
} = Astro.props
---
{
    href ? (
        <a href={href} class:list={[className]} {...rest}>
            <slot />
        </a>
    ) : (
        <button class:list={[className]} {...rest}>
            <slot />
        </button>
    )
}

<style is:global>
    .primary-button{
        padding: 0.75rem 1rem;
        border-radius: 2rem;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        &:hover{
            background-color: #2e2e2e;
        }
    }
    .secondary-button{
        padding: 0.75rem 1rem;
        border: 1px solid rgb(206, 206, 206);
        border-radius: 2rem;
        background-color: #fff;
        color: #000;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        &:hover{
            background-color: #dcdcdc;
        }
    }
</style>