---
import NavData from '../data/NavData';
import NavLink from './NavLink.astro';
import Button from './Button.astro';
---
<nav>
    <div class="logo">
        <h3>Pratik Kuril</h3>
    </div>
    <ul>
        {
            NavData.map((item) => (
                <li>
                    <NavLink href={item.href}>{item.title}</NavLink>
                </li>
            ))
        }
        <Button class="primary-button">Say Hello!</Button>
    </ul>
</nav>

<style lang="scss" is:global>
    @use '../styles/styles.scss';

    nav{
        // width: $container-desktop;
        width: 80%;
        //border: rgba($color: #000000, $alpha: 0.3) solid 1.5px;
        border-radius: 2rem;
        box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.5);
        margin-block-start: 1rem;
        padding-block: 0.25rem;
        padding-inline: 0.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        background-color: #fff;
        .logo{
            h3{
                @extend .poppins-semibold;
                padding-left: 1rem;
            }
        }
        ul{
            list-style: none;
            display: flex;
            gap: 1.5rem;
            li{
                display: flex;
                align-items: center;
                a{
                    text-decoration: none;
                    @extend .poppins-semibold;
                    color: #000;
                    opacity: 0.5;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .active{
        opacity: 1;
    }
</style>