---
import type { HTMLAttributes } from "astro/types";

type props = HTMLAttributes<'a'>;

const {
    href,
    class: className,
    ...props
} = Astro.props;

const pathName = Astro.url;
const isActive = href === pathName
---

<a href={href} class:list={[className, {'active': isActive}]} {...props}>
    <slot />
</a>

<style lang="scss">
    .active{
        opacity: 1;
    }
</style>