---
import MainHead from "./MainHead.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "@/components/Footer.astro";

interface Props {
	title: string;
	description?: string;
};

const {
	title,
	description
} = Astro.props as Props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<MainHead title={title} description={description}/>
	<body class="font-poppins">
		<main class="container overflow-scroll">
			<Navbar />
			<slot />
			<Footer />
		</main>
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.container{
		width: 80%;
		margin: 0 auto;
	}
</style>
